.mPageList {
    list-style-type: disc;
    margin-top: 20px;
}

.mPageList_item:not(:last-child) {
    margin-bottom: 5px;
}

.mPageList_link {
    color: rgb(9, 9, 122);
    transition: all 0.3s ease;
    font-size: 18px;
}

.mPageList_link:hover,
.mPageList_link:focus {
    color: #2196f3;
}